<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        table {
            margin: 48px auto;
            border-collapse: collapse;
            width: 70%;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f4;
        }
    </style>
</head>
<body>
    <h1>Results Found </h1>
    <table>
        <thead>
            <tr>
                <th>Phone Number</th>
                <th>Name</th>
                <th> more-info</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result["phone_number"] }}</td>
                <td>{{ result["info"] }}</td>
                <td> {{ result["more-info"] }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>